.dropdown {
    width: 100%;
    padding: 1em;
    border-radius: 14px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    appearance: none; /* Elimina el estilo predeterminado del navegador */
  }
  
  .dropdown-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Evita que el icono interfiera con el dropdown */
  }