@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #7C93C3;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .horizontal-flex
  {
    flex-wrap: wrap;
    display: flex;
    gap: 30%;
    justify-content: none;
  }
}
