.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .pagination-button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;

    padding: 1% 1.8%;

    color: #1E2A5E;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;

    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .pagination-button.active {
    background-color: #1E2A5E;
    color: white;
  }
  
  .pagination-button:hover:not(.active) {
    background-color: #f2f2f2;
  }
  
  .pagination-button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  